body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Added transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff;
}

.input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"],
select,
input[type="date"],
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.task-list {
    border-top: 2px solid #007bff;
    padding-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task-actions button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

body {
    background-color: rgb(12, 181, 238);
  }
  